@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');

/* education section starts */
.experience {
  padding-top: 10rem;
  min-height: auto !important;
}
.experience .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.experience .box-container .box {
  display: flex;
  flex-direction: row;
  width: 80%;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  margin-top: 2rem;
  overflow: hidden;
  transition: 0.3s;
  background: rgb(252, 252, 252);
}
.experience .box-container .box:hover {
  transform: scale(1.03);
  box-shadow: 1rem 0.5rem 1.2rem rgba(0, 0, 0, 0.3);
}
.experience .box-container .box .image {
  flex: 1 1 20rem;
  width: 100%;
}
.experience .box-container .box img {
  object-fit: fill;
  position: relative;
  width: 100%;
  height: 50%;
}
.experience .box-container .box .content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-wrap: wrap;
  flex: 1 1 70rem;
}
.experience .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #012970;
  padding: 0.5rem 0;
  font-weight: 600;
  text-align: left;
  margin-left: 1rem;
}
.experience .box-container .box .content p {
  font-size: 1.5rem;
  margin-left: 1rem;
  text-align: left;
}
.experience h4 {
  font-size: 2rem;
  color: #4685eb;
  text-align: left;
  margin: 1rem;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

/* education media queries starts*/
@media screen and (max-width: 600px) {
  .experience .box-container .box {
    flex-direction: column;
    width: 100%;
  }
  .experience .box-container .box .image {
    width: 100%;
    height: 25rem;
  }
  .experience .box-container .box img {
    width: 100%;
  }
  .experience .box-container .box .content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-wrap: wrap;
    flex: 0;
  }
  .experience .btns {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    flex-wrap: wrap;
  }
}
/* education media queries ends*/
/* education section ends */


/* education section starts */
.education {
  margin-top: 3rem;
  min-height: auto;
}
.education .quote {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}
.education .timeline {
  position: relative;
  max-width: 1200px;
  margin: 2rem auto;
}
.education .timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background: #020133;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -2;
}
.education .container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
/*circles on timeline*/
.education .container::after {    
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: rgb(255, 255, 255);
  border: 4px solid #496eaa;
  top: 15px;
  border-radius: 50%;
  z-index: 100;
  font-size: 1.89rem;
  text-align: center;
  font-weight: 600;
  color:#02094b;
  font-family: 'Font Awesome\ 5 Free';
}
.education .left {
  left: 0;
}
.education .right {
  left: 50%;
}
/* arrows pointing right */
.education .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #496eaa;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #496eaa;
}
/* arrows pointing left  */
.education .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #496eaa;
  border-width: 10px 10px 10px 0;
  border-color: transparent #496eaa transparent transparent;
}
.education .right::after {
  left: -16px;
}
.education .content {
  background-color: #77a1cb;
  position: relative;
  border-radius: 6px;
}
.education .content .tag{
  font-size: 1.3rem;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}
.education .content .nyplogo{
  width: 100px;
  height: auto;
}
.education .content .itelogo{
  width: 30px;
  height: auto;
}
.education .content .desc{
  margin-left: 1.5rem;
  padding-bottom: 1rem;
}
.education .content .desc h3{
  font-size: 1.5rem;
  font-weight: 600;
}
.education .content .desc p{
  font-size: 1.2rem;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  .education .timeline::after {
  left: 31px;
  }
  .education .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  .education .container::before {
  left: 60px;
  border: medium solid #496eaa;
  border-width: 10px 10px 10px 0;
  border-color: transparent #496eaa transparent transparent;
  }
  .education .left::after {
    left: 15px;
  }
  .education .right::after {
    left: 15px;
  }
  .education .right {
  left: 0%;
  }
  .education .container::after {
    font-size: 2.2rem;;
  }
}
/* experience media queries ends */
/* experience section ends */
.certificate {
    padding-bottom: 0;
    margin-top: 3rem;
    min-height: auto;
    margin-bottom: 0;
}

.input-group:hover {
  border-color: #7a00cc;
}

.input-group input[type="search"] {
  border: none;
  outline: none;
  padding: 8px;
  font-size: 14px;
  flex: 1;
  border-radius: 25px;
}

.input-group .search-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #7a00cc;
  font-size: 18px;
  padding: 5px;
  transition: color 0.3s ease;
}

.input-group .search-btn:hover {
  color: #550099;
}




table {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  width: 100%;
  max-width: 0 auto;
  height: auto;
  border: 3px solid #000000;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

table, th, td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: c;
  font-size: 1.5rem;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #496eaa31;
  cursor: pointer;
  text-transform: capitalize;
}

tbody tr {
  --delay: .1s;
  transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr:hover {
  background-color: rgb(255, 255, 255) !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
  transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
  padding: 0;
  font: 0 / 0 sans-serif;
  transition: .2s ease-in-out .5s;
}
.status {
  padding: .4rem 0;
  border-radius: 2rem;
  text-align: center;
}

.status.delivered {
  background-color: #86e49d;
  color: #006b21;
}

.status.cancelled {
  background-color: #d893a3;
  color: #b30021;
}

@media (max-width: 1000px) {
  td:not(:first-of-type) {
      min-width: 12.1rem;
  }
}

thead th span.icon-arrow {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 1.4px solid transparent;
  
  text-align: center;
  font-size: 1rem;
  
  margin-left: .5rem;
  transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
  border: 1.4px solid #6c00bd;
}

thead th:hover {
  color: #6c00bd;
}

thead th.active span.icon-arrow{
  background-color: #6c00bd;
  color: #fff;
}

thead th.asc span.icon-arrow{
  transform: rotate(180deg);
}

thead th.active,tbody td.active {
  color: #6c00bd;
}
