#backtotopbutton{
    
    position: fixed;
    right: 10px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none; 
    width:3rem;
    height:15rem;
    z-index: 101;
    text-align: center;
    transition: all .4s;
    background-color: transparent;
    display: none;
}
#backtotopbutton article{

    font-size: 1.5rem;
    color: var(--color-white);
    font-weight: 400;
     
    writing-mode:vertical-rl;
     font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
     mix-blend-mode: difference;
}


#backtotopbutton:hover{
    transform: translate(0px,-20px);
    text-decoration: line-through #fff;
}
/* footer starts */
footer{
    width: 100%;
    position: relative;
    height: fit-content;
    border-top: 1px solid #e0e0e0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    overflow: hidden;
}
.footer-bottom{
   background-color: #fcfcfc90;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 80px;
   z-index: 3;
}
.footer-bottom article{
   color: rgb(176, 176, 176);
   font-size: 1.5rem;
}
.fa-copyright{
   font-size: 1.5rem;
   color: rgb(176, 176, 176);
}
/* footer enda */
